body {
    margin: 0 auto;
    color: #E0E0E0;
    background-color: #121212;
    min-height: 100vh;
    align-items: center;
}

li {
    list-style: '- ';
}

header {
    position: sticky;
    top: 0;
    background-color: #242424;
    z-index: 1000;
}

a {
    color: #b5daeb !important;
    display: block;
}

a:hover {
    text-decoration: underline;
}

div {
    width: 100%;
    box-sizing: border-box;
}

.outer-layout {
    margin: 0 auto;
    min-width: 1280px;
    width: 1280px;
    padding: 2.5rem;
}

.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: #242424;
    align-items: center;

}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.end-arrow {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.layout-inner {
    overflow: auto;
}

.layout-inner::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu {
    height: fit-content;
    width: 50px;
    background-color: #242424;
    cursor: pointer;
}

.menu-tab {
    text-align: center;
    align-content: center;
    padding: 1rem;
    width: 50px;
    font-size: 0.75rem;
}

.menu-text-tab {
    text-orientation: upright;
    writing-mode: vertical-rl
}

.selected {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: none;
}

.unselected {
    border-right: 1px solid white;
    border-top: 1px solid gray;
}

.bottom-border {
    border-bottom: 1px solid gray;
}

.hide {
    height: 0;
    overflow: hidden;
}

.line-horizontal-top::after {
    width: 8px;
    border-top: 1px solid white;
}

.line-vertical-left {
    position: relative;
}

.line-vertical-left::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    height: 8px;
    border-left: 1px solid white;
}

.line-horizontal-bottom::after {
    width: 8px;
    border-bottom: 1px solid white;
}

.line-vertical-right {
    position: relative;
}

.line-vertical-right::after {
    content: "";
    position: absolute;
    right: -2px;
    bottom: 0px;
    height: 8px;
    border-right: 1px solid white;
}