/* PC & Mobile Version */

/* ============ HTML élements ============ */

body {
    color: #E0E0E0;
    background-color: #121212;
}

div {
    width: 100%;
    box-sizing: border-box;
}

li {
    list-style: '- ';
}

a {
    color: #b5daeb !important;
    display: block;
}

header {
    position: sticky;
    top: 0;
    background-color: #242424;
    z-index: 1000;
}

/* ============ Layout ============ */

.outer-layout {
    display: flex;
    padding: 1.5rem;
    flex-direction: column-reverse;
    height: 100vh;
}

.layout {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #242424;
    align-items: center;
    border-left: 1px solid white;
    min-width: 300px;
}

.layout-inner {
    overflow: auto;
}

.layout-inner::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ============ Text ============ */

.legend {
    font-size: 0.65em;
}

/* ============ Navigation ============ */

.menu {
    display: flex;
    height: 50px;
    background-color: #242424;
    cursor: pointer;
    min-width: 300px;
}

.menu-tab {
    align-content: center;
    text-align: center;
    text-align-last: center;
    width: 100px;
    font-size: 0.6rem;
    height: 50px;
    min-width: 20%;
}

.selected {
    border-top: none;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.unselected {
    border-top: none;
    border-left: none;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* ============ Additional borders ============ */

.left-border {
    border-left: 1px solid gray;
}

/* ============ Page hiding content ============ */

.hide {
    height: 0;
    overflow: hidden;
}

/* ============ Corner for stars in Skills page ============ */

.line-horizontal-top::after {
    width: 8px;
    border-top: 1px solid white;
}

.line-vertical-left {
    position: relative;
}

.line-vertical-left::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    height: 8px;
    border-left: 1px solid white;
}

.line-horizontal-bottom::after {
    width: 8px;
    border-bottom: 1px solid white;
}

.line-vertical-right {
    position: relative;
}

.line-vertical-right::after {
    content: "";
    position: absolute;
    right: -2px;
    bottom: 0px;
    height: 8px;
    border-right: 1px solid white;
}

/* ============ Arrow for Skills bottom page ============ */

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.end-arrow {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.scroll-hint {
    width: 3px;
    position: absolute;
    bottom: 11px;
}

/* PC Only*/
@media only screen and (min-width: 640px) {

    /* ============ HTML élements ============ */

    body {
        height: 100vh;
        align-content: center;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        text-align: justify;
    }

    /* ============ Layout ============ */

    .outer-layout {
        margin: 0 auto;
        min-width: 1280px;
        width: 1280px;
        flex-direction: row;
        padding: 2.5rem;
        justify-items: center;
        height: auto;
    }

    .layout {
        border-left: none;
        padding: 2.5rem;
        min-width: auto;
    }

    /* ============ Text ============ */

    .legend {
        font-size: 1em;
    }

    /* ============ Arrow for Skills bottom page ============ */

    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .end-arrow {
        border: solid gray;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .scroll-hint {
        bottom: 14px;
    }

    /* ============ Navigation ============ */

    .menu {
        display: block;
        height: fit-content;
        width: 50px;
        min-width: auto;
    }

    .menu-tab {
        text-align: center;
        align-content: center;
        padding: 1rem;
        width: 50px;
        font-size: 0.75rem;
        height: auto;
    }

    .menu-text-tab {
        text-orientation: upright;
        writing-mode: vertical-rl
    }

    .selected {
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        border-right: none;
    }

    .unselected {
        border-right: 1px solid white;
        border-top: 1px solid gray;
        border-bottom: none;
        border-left: none;
    }

    /* ============ Page hiding content ============ */

    .hide {
        height: 0;
        overflow: hidden;
    }

    /* ============ Additional borders ============ */

    .bottom-border {
        border-bottom: 1px solid gray;
    }
}